[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd

[Service]
User=root
Group=root
Type=notify
ExecStart=/usr/bin/etcd     \
  --data-dir {{ data_dir }} \
  --wal-dir {{ wal_dir }}   \
  {{ etcd_opts }}
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
